In [48]:
df = pd.read_csv("diabetes.csv")

In [50]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [52]:
input_data = df.iloc[ : , :-1]
input_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [56]:
output_data = df["Outcome"]
output_data

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [58]:
from sklearn.model_selection import train_test_split

In [60]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.25)

In [62]:
x_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
722,1,149,68,29,127,29.3,0.349,42
343,5,122,86,0,0,34.7,0.290,33
532,1,86,66,52,65,41.3,0.917,29
744,13,153,88,37,140,40.6,1.174,39
301,2,144,58,33,135,31.6,0.422,25
...,...,...,...,...,...,...,...,...
387,8,105,100,36,0,43.3,0.239,45
611,3,174,58,22,194,32.9,0.593,36
333,12,106,80,0,0,23.6,0.137,44
628,5,128,80,0,0,34.6,0.144,45
665,1,112,80,45,132,34.8,0.217,24

In [64]:
y_train

722    1
343    0
532    0
744    0
301    1
      ..
387    1
611    1
333    0
628    0
665    0
Name: Outcome, Length: 576, dtype: int64

In [66]:
x_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
608,0,152,82,39,272,41.5,0.270,27
442,4,117,64,27,120,33.2,0.230,24
258,1,193,50,16,375,25.9,0.655,24
282,7,133,88,15,155,32.4,0.262,37
463,5,88,78,30,0,27.6,0.258,37
...,...,...,...,...,...,...,...,...
704,4,110,76,20,100,28.4,0.118,27
693,7,129,68,49,125,38.5,0.439,43
49,7,105,0,0,0,0.0,0.305,24
279,2,108,62,10,278,25.3,0.881,22
604,4,183,0,0,0,28.4,0.212,36

In [68]:
y_test

608    0
442    0
258    0
282    0
463    0
      ..
704    0
693    1
49     0
279    0
604    1
Name: Outcome, Length: 192, dtype: int64

In [74]:
df.shape

(768, 9)

In [78]:
x_train.shape , y_train.shape

((576, 8), (576,))

In [82]:
x_test.shape, y_test.shape

((192, 8), (192,))